<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>employee-home</title>
    <link href="../static/css/zzsc.css" rel="stylesheet">
    <link href="../static/css/maps.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/maps.js"></script>
    <script type="text/javascript" src="../static/js/google.js"></script>
    <script type="text/javascript" src="js/message.js"></script>
    <link href="css/message.css" rel="stylesheet">
    <script src="../static/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
    <script type="text/javascript">$(document).ready(function(){$().maps();});</script>
    <script type="text/javascript">$(function (){
        $('#nky2 li:not(#nky2 li:last)').click(function (){
            $('.active').removeClass('active');
            $(this).addClass("active");
        });
        $('.venus-menuM li').click(function(){
            $('.venus-menuM li.active').removeClass('active');
            $(this).addClass("active");
            var mode=document.getElementById('read').innerText;
            document.getElementById('read').innerText=(mode=='全部标为已读')?'删除已读':'全部标为已读';
            if(mode=="全部标为已读"){
                document.getElementById('read').innerText='删除已读';
                refreshRead();
            }
            else{
                document.getElementById('read').innerText='全部标为已读';
                refreshNew();
            }
        });
    })
    </script>
</head>
<style>
    #message{
        margin-left:30px;
    }
    #cvs{
        margin:20px 40px;
        border:1px solid #AAAAAA;
    }
    p.lead{
        color: #333;
        font-style: italic;
        margin-bottom: 30px;
    }
    .btnp{
        margin-top:0px;
    }
    .btn {
        cursor:pointer;
        color: white;
        margin-top:10px;
        margin-left:90px;
        background: rgb(48, 35, 174);
        font-size: 16px;
        line-height: 38px;
        height: 38px;
        padding: 0 20px;
        border-radius: 3px;
        display: inline-block;
        text-decoration: none;
        transition: background .15s;
    }
    .btn:hover {
        background-color: rgb(81, 67, 224);
    }
    #type[type=text],#score[type=text]{
        margin-left:30px;
        width:220px;
        height:40px;
        border:1px solid #AAAAAA;
        border-radius:10px;
        padding:3px 8px;
    }
    #type[type=text],#score[type=text]{
        transition: .30s;
    }
    #type[type=text]:focus,#score[type=text]:focus{
        border-color:green;
    }
    .container{
        width:95%;
        position:absolute;
        margin-left:50px;
        margin-right:50px;
        margin-top:100px;
        display:-webkit-box;
        display:-moz-box;
    }
    div #left,#right,#middle{
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        height:100%;
    }
    #left,#right{
        width:330px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        padding:20px;
    }
    #middle{
        border-left:darkgray 4px solid;
        border-right:darkgray 4px solid;
        padding:20px;
        -webkit-box-flex:1;
        -moz-box-flex:1;
        -webkit-box-ordinal-group:2;
        -moz-box-ordinal-group:2;
        margin:0 5px;
    }
    #right{
        -webkit-box-ordinal-group:2;
        -moz-box-ordinal-group:2;
    }
    #pictureTag{
        width:200px;
        margin-left:30px;
        height:100px;
    }
    table {
        width: 276px;
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        padding:20px;
        border-collapse:collapse;
    }
    table thead  tr {
        display: block;
    }
    table #tbody1 {
        display: block;
        height: 200px;
        overflow: auto;
    }
    table #tbody2{
        display: block;
        height:300px;
        overflow: auto;
    }
    table #tbody3{
        display:block;
        height:100px;
        overflow:auto;
    }
    table thead th {
        width: 200px;
        text-align:left;
        font-size:1.2em;
        padding-left:10px;
        padding-top:10px;
        padding-bottom:10px;
        background-color:#A7C942;
        color:#ffffff;
    }
    table thead th + th {
        width: 76px;
    }
    table tbody td {
        width: 200px;
        text-align:left;
        font-size:1.1em;
        border:1px solid #98bf21;
        padding:3px 7px 2px 7px;
    }
    table tbody td + td {
        width: 60px;
    }
    table tr.alt td
    {
        color:#000000;
        background-color:#EAF2D3;
    }
    .info{
        text-align: left;
        font-size: 20px;
        font-style: italic;
    }
</style>
<body>

<div style="text-align:center;clear:both">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
</div>
<div class="content">
    <ul id="nky2" class="venus-menu">
        <li><a href="employer-home"><i class="icon-home"></i>主页</a></li>
        <li class="active"><a href="#"><i class="icon-user"></i>个人</a>
            <ul>
                <li><a href="employer-info">个人信息</a></li>
                <li><a href="employer-data">统计信息</a></li>
            </ul></li>
        <li><a href="#"><i class="icon-tasks"></i>任务</a><ul>
            <li><a href="#">发布新任务</a><ul>
                <li><a href="openPublication">自由发布</a></li>
                <li><a href="specifiedPublication">指派发布</a></li>
                <li><a href="cutPartPublication">分块发布</a></li>
            </ul>
            <li><a href="employer-underway">进行中任务</a></li>
            <li><a href="employer-completed">已完成任务</a></li>
        </ul></li>
        <li><a href="employer-contact"><i class="icon-envelope-alt"></i>联系我们</a></li>
        <li style="float:right" onclick="openM()"><a href="#"><i class="fa fa-envelope-open-o" aria-hidden="true"></i>信息</a></li>
    </ul>
</div>
<script>
    var employerId = localStorage.getItem("userId");
    var taskId = localStorage.getItem("taskId");
    var selectedPictureId="";
    var selectedEmployeeId="";
    var selectedTagId="";

    var pictureId="";
    var tagId="";
    var border=[];
    var annotation="";
    var imgs=new Image();
    function PictureTag(pictureId, tagId, border, annotation) {
        this.pictureId = pictureId;
        this.tagId = tagId;
        this.border = border;
        this.annotation = annotation;
    }
    function JudgeResult(taskId,pictureId,standardResult,employeeScore){
        this.taskId=taskId;
        this.pictureId=pictureId;
        this.standardResult=standardResult;
        this.employeeScore=employeeScore;
    }
</script>

<script>
    function AddRow1(id,num){
        var tbody=document.getElementById("tbody1");
        var row = document.createElement('tr'); //创建行
        var idCell = document.createElement('td'); //创建第一列id
        idCell.innerHTML = id; //填充数据
        row.appendChild(idCell); //加入行 ，下面类似
        var numCell = document.createElement('td');//创建第二列name
        numCell.innerHTML = num;
        row.appendChild(numCell);
        tbody.appendChild(row);
        var trs=document.getElementsByTagName('tr');
        for(var i=1;i<trs.length;i++){
            trs[i].onmouseover=function(){over()};
            trs[i].onclick=function(){change()};
            trs[i].onmouseout=function(){out()};
        }
    }
    function AddRow2(name,num){
        var tbody=document.getElementById("tbody2");
        var row = document.createElement('tr'); //创建行
        var nameCell = document.createElement('td'); //创建第一列id
        nameCell.innerHTML = name; //填充数据
        row.appendChild(nameCell); //加入行 ，下面类似
        var numCell = document.createElement('td');//创建第二列name
        numCell.innerHTML = num;
        row.appendChild(numCell);
        tbody.appendChild(row);
        var trs=document.getElementsByTagName('tr');
        for(var i=1;i<trs.length;i++){
            trs[i].onmouseover=function(){over()};
            trs[i].onclick=function(){change()};
            trs[i].onmouseout=function(){out()};
        }
    }
    function AddRow3(name){
        var tbody=document.getElementById("tbody3");
        var row = document.createElement('tr'); //创建行
        var nameCell = document.createElement('td'); //创建第一列id
        nameCell.innerHTML = name; //填充数据
        row.appendChild(nameCell);
        tbody.appendChild(row);
        var trs=document.getElementsByTagName('tr');
        for(var i=1;i<trs.length;i++){
            trs[i].onmouseover=function(){over()};
            trs[i].onclick=function(){change()};
            trs[i].onmouseout=function(){out()};
        }
    }
    function clearTable1() {
        var parNode = document.getElementById("picture"); //定位到table上
        var tbody= document.getElementById("tbody1");
        parNode.removeChild(tbody);
        var newBody=document.createElement('tbody');
        newBody.id="tbody1";
        parNode.appendChild(newBody);
    }
    function clearTable2(){
        var parNode = document.getElementById("employee"); //定位到table上
        var tbody= document.getElementById("tbody2");
        parNode.removeChild(tbody);
        var newBody=document.createElement('tbody');
        newBody.id="tbody2";
        parNode.appendChild(newBody);
    }
    function clearTable3(){
        var parNode = document.getElementById("pictureTag"); //定位到table上
        var tbody= document.getElementById("tbody3");
        parNode.removeChild(tbody);
        var newBody=document.createElement('tbody');
        newBody.id="tbody3";
        parNode.appendChild(newBody);
    }
</script>


<section>
    <div class="container">
        <div id="middle">
            <canvas id="cvs" width=900px height=720px></canvas>
        </div>
        <div id="left">
            <div class="content1">
                <div class="info">
                    <p>选择图片：</p>
                </div>
                <table id="picture">
                    <thead>
                    <tr>
                        <th>图片名</th>
                        <th>工人数</th>
                    </tr>
                    </thead>
                    <tbody id="tbody1"></tbody>
                </table>
            </div>

            <div class="content2">
                <div class="info">
                    <p>选择工人：</p>
                </div>
                <table id="employee">
                    <thead>
                    <tr>
                        <th>工人名</th>
                        <th>标注数</th>
                    </tr>
                    </thead>
                    <tbody id="tbody2"></tbody>
                </table>
            </div>
        </div>
        <div id="right">
            <div class="info">
                <p>当前标注：</p>
            </div>
            <table id="pictureTag">
                <thead>
                <tr>
                    <th>标注</th>
                </tr>
                </thead>
                <tbody id="tbody3"></tbody>
            </table>
            <div class="info">
                <p>标注类型：</p>
            </div>
            <input id="type" type="text" name="type" placeholder="无标注" readonly>
            <div class="info">
                <p>图片注解：</p>
            </div>
            <textarea id="message" rows="10" cols="25" placeholder="无" readonly></textarea>
            <div class="info">
                <p>当前得分：</p>
            </div>
            <input id="score" type="text" name="type" placeholder="无得分" readonly>
        </div>
    </div>
</section>

<section id="messageP" class="panelM none">
    <div class="contentM">
        <ul class="venus-menuM">
            <li class="active"><a href="#">未读</a></li>
            <li><a href="#">已读</a></li>
        </ul>
    </div>
    <div id='messageBox' class="scroll"></div>
    <div>
        <a id="read" class="btn2" onclick="readButton()">
            全部标为已读
        </a>
    </div>
</section>
</body>


<script>
    var trs=document.getElementsByTagName('tr');
    for(var i=1;i<trs.length;i++){
        trs[i].onmouseover=function(){over()};
        trs[i].onclick=function(){change()};
        trs[i].onmouseout=function(){out()};
    }
</script>
<script>
    var tags=[];
    var tag;
    var tagNum;
    var overallPictureId=[];
    var rectanglePictureId=[];
    var boundaryPictureId=[];
    var employees=[];
    var judgeResult;
    showTaskPictureId(taskId);

    function showTaskPictureId(taskId) {
        $.ajax({
            type: 'POST',
            url:"/EmployeeTask/checkOneTask",
            data: {
                taskId:taskId
            },
            success:function(result){
                overallPictureId = result.overallPictureId;
                rectanglePictureId = result.rectanglePictureId;
                boundaryPictureId = result.boundaryPictureId;
                for(var count = 0; count < overallPictureId.length; count++){
                    getPictureEmployees(overallPictureId[count]);
                    AddRow1(overallPictureId[count], employees.length);
                }
                for(var count = 0; count < rectanglePictureId.length; count++){
                    getPictureEmployees(rectanglePictureId[count]);
                    AddRow1(rectanglePictureId[count], employees.length);
                }
                for(var count = 0; count < boundaryPictureId.length; count++){
                    getPictureEmployees(boundaryPictureId[count]);
                    AddRow1(boundaryPictureId[count], employees.length);
                }
            },
            error:function(result){
                alert("error");
            }
        });
    }

    function getPictureEmployees(pictureId){
        $.ajax({
            type: 'POST',
            url:"/EmployerTask/getParticipateEmployee",
            async: false,                         //将ajax改为同步模式
            data: {
                taskId:taskId,
                pictureId:pictureId
            },
            success:function(result){
                employees=result;
            },
            error:function(result){
                alert("error");
            }
        });
    }
    function getEmployeeTagsLen(pictureId,employeeId){
        $.ajax({
            type: 'POST',
            url:"/AnnotationManagement/findByPictureID",
            async: false,                         //将ajax改为同步模式
            data: {
                employeeId:employeeId,
                taskId:taskId,
                pictureID:pictureId
            },
            success:function(result){
                tagNum=result.length;
            },
            error:function(result){
                alert("error");
            }
        });
    }
</script>
<script>
    function examine(border) {
        this.border = border;
        var len = this.border.length;
        if (len == 2) {
            //alert("sss");
            var oCanvas = document.getElementById('cvs');
            var oGc = oCanvas.getContext('2d');
            oGc.strokeStyle = "red";
            oGc.beginPath();
            oGc.strokeRect(border[0].x, border[0].y, border[1].x - border[0].x, border[1].y - border[0].y);
            oGc.closePath();
        } else if (len > 2) {
            var oCanvas = document.getElementById('cvs');
            var oGc = oCanvas.getContext('2d');
            for (var i = 0; i < len - 1; i++) {
                oGc.beginPath();
                oGc.moveTo(border[i].x , border[i].y);
                oGc.lineTo(border[i+1].x, border[i+1].y);
                oGc.stroke();
                oGc.closePath();
            }
        }
    }

    function getSelectedTagIndex(){
        var table=document.getElementById('pictureTag');
        for(var i=1; i<table.rows.length; i++)   {
            if(table.rows[i].tag == true)
                return i-1;
        }
    }
    function getSelectedEmployeeIndex(){
        var table=document.getElementById('employee');
        for(var i=1; i<table.rows.length; i++)   {
            if(table.rows[i].tag == true)
                return i-1;
        }
    }
    function getSelectedPictureIndex(){
        var table=document.getElementById('picture');
        for(var i=1; i<table.rows.length; i++)   {
            if(table.rows[i].tag == true)
                return i-1;
        }
    }
    /*
    用户选中新图片后，改变table2(employee）内容，清空table3(pictureTak)
    重置已选中图片、清空已选中用户、清空已选中pictureTag
     */
    function changePicture(pictureId){
        selectedPictureId=pictureId;
        selectedEmployeeId="";
        selectedTagId="";
        document.getElementById("message").value = "";
        document.getElementById('score').value="";
        clearTable2();
        clearTable3();
        var cvs = document.getElementById("cvs");
        var cxt = cvs.getContext("2d");
        imgs = new Image();
        var pictureCode="";
        //show picture
        $.ajax({
            type: 'POST',
            url:"/EmployeeTask/getPictureBase64Code",
            data: {
                taskId:taskId,
                pictureId:selectedPictureId
            },
            success:function(result){
                pictureCode=result;
                imgs.onload = drawImg;//图片加载完成再执行
                function drawImg(){
                    cxt.drawImage(imgs,0,0,cvs.width,cvs.height);
                }
                imgs.src = pictureCode;
            },
            error:function(result){
                alert("error");
            }
        });
        //show annotation type
        $.ajax({
            type: 'POST',
            url:"/EmployeeTask/showPictureAnnotationType",
            async: false,                         //将ajax改为同步模式
            data: {
                taskId:taskId,
                pictureId:selectedPictureId
            },
            success:function(result){
                if(result == "OVERALL"){
                    document.getElementById("type").value = "整体标注";
                }
                else if(result == "RECTANGLE"){
                    document.getElementById("type").value = "方框标注";
                }
                else if(result == "BOUNDARY"){
                    document.getElementById("type").value = "区域标注";
                }
            },
            error:function(result){
                alert("error");
            }
        });
        /*
        show employees(改变table2内容)
         */
        getPictureEmployees(selectedPictureId);
        getJudgeResult();
        AddRow2("system",judgeResult.standardResult.length);
        for(var i=0;i<employees.length;i++){
            getEmployeeTagsLen(selectedPictureId,employees[i]);
            AddRow2(employees[i],tagNum);
        }
    }

    /*
    用户选中新用户后，table1,table2不变，改变table3内容
    已选中图片不变，重置已选中用户、清空已选中pictureTag
     */
    function changeEmployee(employeeId){
        selectedEmployeeId=employeeId;
        selectedTagId="";
        var cvs = document.getElementById("cvs");
        var cxt = cvs.getContext("2d");
        cxt.clearRect(0, 0, cvs.width, cvs.height);
        cxt.drawImage(imgs,0,0,cvs.width,cvs.height);
        if(selectedEmployeeId=="system") {
            clearTable3();
            for (var count = 0; count < judgeResult.standardResult.length; count++) {
                AddRow3(judgeResult.standardResult[count].tagID);
            }
            tags=judgeResult.standardResult;
            document.getElementById('score').value="100";
        }
        else {
            var score=judgeResult.employeeScore[selectedEmployeeId];
            document.getElementById('score').value=100*score;
            //show all tags
            $.ajax({
                type: 'POST',
                url: "/AnnotationManagement/findByPictureID",
                async: false,                         //将ajax改为同步模式
                data: {
                    employeeId: selectedEmployeeId,
                    taskId: taskId,
                    pictureID: selectedPictureId
                },
                success: function (result) {
                    clearTable3();
                    tags=[];
                    for (var count = 0; count < result.length; count++) {
                        AddRow3(result[count]);
                        showTags(employeeId, taskId, selectedPictureId, result[count]);
                    }
                },
                error: function (result) {
                    alert("error");
                }
            });
        }
    }
    function getJudgeResult(){
        $.ajax({
            type: 'POST',
            url:"/EmployeeTask/getJudgeResult",
            async: false,                         //将ajax改为同步模式
            data: {
                taskId:taskId,
                pictureId:selectedPictureId
            },
            success:function(result){
                judgeResult=new JudgeResult(result.taskId,result.pictureId,result.standardResult,result.employeeScore);
            },
            error:function(result){
                alert("error");
            }
        });
    }
    function showTags(employeeId, taskId, pictureId, tagId) {
        $.ajax({
            type: 'POST',
            url:"/AnnotationManagement/findByTagID",
            async: false,                         //将ajax改为同步模式
            data: {
                employeeId:employeeId,
                taskId:taskId,
                pictureID:pictureId,
                tagID:tagId
            },
            success:function(result){
                tag = new PictureTag(result.pictureId,result.tagId, result.border, result.annotation);
                tags.push(tag);
            },
            error:function(result){
                alert("error");
            }
        });
    }

    /*
   用户选中新tag后，table1,table2,table3均不变，
   已选中图片不变，重置已选中用户、清空已选中pictureTag
    */
    function changePictureTag(rowIndex){
        selectedTagId=tags[rowIndex].tagId;
        document.getElementById('message').value=tags[rowIndex].annotation;
        var cvs = document.getElementById("cvs");
        var cxt = cvs.getContext("2d");
        cxt.clearRect(0, 0, cvs.width, cvs.height);
        cxt.drawImage(imgs, 0, 0, cvs.width, cvs.height);
        examine(tags[rowIndex].border);
    }

    //鼠标点击选择行时候变色
    function change() {
        var oObj = window.event.srcElement;
        //alert(change.tagName.toLowerCase());
        if(oObj.tagName.toLowerCase() == "td"){
            var oTr = oObj.parentNode;
            var table=oTr.parentNode.parentNode;
            for(var i=1; i<table.rows.length; i++)   {
                table.rows[i].style.backgroundColor   =   "";
                table.rows[i].tag = false;
            }
            oTr.style.backgroundColor = '#ffccff';
            oTr.tag = true;
            if(table.id=="picture") {
                changePicture(oTr.children[0].innerHTML);
            }
            else if(table.id=="employee"){
                changeEmployee(oTr.children[0].innerHTML);
            }
            else if(table.id=='pictureTag'){
                changePictureTag(oTr.rowIndex-1);
            }
        }
    }
    //鼠标点击另外一行时关闭已选行变色
    function out() {
        var oObj = event.srcElement;
        if(oObj.tagName.toLowerCase() == "td"){
            var oTr = oObj.parentNode;
            if(!oTr.tag) oTr.style.backgroundColor = "";
        }
    }
    //鼠标移动到选择行上时的行变色
    function over(){
        var oObj = event.srcElement;
        if(oObj.tagName.toLowerCase() == "td"){
            var oTr = oObj.parentNode;
            if(!oTr.tag) oTr.style.backgroundColor = "#ffccff";
        }
    }
</script>


</html>